body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 2.6rem auto 0 auto;
  font-size:5.625rem;
  color: #66BFBF;
  line-height: 1;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

.intro-section {
  background-color: #dff6f0;
  position: relative;
  padding-top: 50px;
}

#dev_underline {
  text-decoration: underline;
}

.bottom-cloud {
  height: 250px;
  width: 300px;
  position: absolute;
  left: 130px;
  bottom: 100px;
}

.top-cloud {
  height: 250px;
  width: 300px;
  position: absolute;
  right: 150px;
  top: 250px;
}

.middle-container {
  padding-top: 50px;
}

.profile-picture {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.skills-picture {
  height: 100px;
  width: 25%;
  float: left;
  margin-right: 2rem;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
